<div>
  <label>Watchlist name:
    <input #watchlistName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(watchlistName.value); watchlistName.value=''">
    add
  </button>
</div>


<ul class="watchlists">
  
  <li *ngFor="let watchlist of watchlists">

    <a routerLink="/detail/{{watchlist.id}}">
      <span class="badge">{{watchlist.id}}</span> {{watchlist.name}}
    </a>
    <button class="delete" title="delete watchlist"
      (click)="delete(watchlist)">x</button>

  </li>

</ul>